<div>

    <h1>The daily phrase is...</h1>

    <div class="container hero-size">

        <div class='row '>
            <p class="daily-h1">
                "{{ response.data.quote }}"
            </p>
            <p class="daily-h1">
                <small>-{{ response.data.author}}-</small>
            </p>
        </div>

    </div>
</div>