<h1>Daily Phrase</h1>

<hr>
<br>

<p class="text-center">"{{ response.data.quote }}"</p>
<p class="text-center"><small>-{{ response.data.author }}-</small></p>

<br>
<hr>

<a href="/home" class="btn btn-dark">Go back</a>
