<div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Frase del dia</button>

</div>

<br>
<br>

<div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Actividad</button>

</div>

<br>
<br>

<div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Consejos</button>

</div>

<br>
<br>

<div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Momentos felices</button>

</div>

<br>
<br>

<div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Lugares</button>

</div>

<br>
<br>

<div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Calendar</button>

</div>