<div>
    
    <a class="btn btn-primary btn-lg btn-block" href="/daily-phrase" role="button">Daily phrase</a>

</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/activity" role="button">Activities</a>

</div>

<br>
<br>

<div>

     <a class="btn btn-primary btn-lg btn-block" href="/daily-advice" role="button">Advice</a>

</div>

<br>
<br>

<div>
    
     <a class="btn btn-primary btn-lg btn-block" href="/moments" role="button">My happy momment</a>
    
</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/places" role="button">My places</a>

</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/calendar" role="button">My Calendar</a>

</div>