<h1>Community Advice</h1>
<hr>
<br>

<ul>
    {{#each advice}}
        <li>
            {{ phrase }}
            {{!-- {{ rating }}  --}}
        </li>
    {{/each}}
</ul>

<br>
<hr>

<h5>Create a new advice for the community!</h5>

<form action="/community-advice" method="POST">

    {{> adviceInput }}

    <button type="submit" class="btn btn-dark btn-block">Create A New Advice</button>

</form>

{{> ifErrorMessage }}
