<h1>New advice to approve</h1>

<ul>
    {{#each advice}}
        <li>

            {{ phrase }}

            <form action="/community-advice/control/{{ id }}" method="POST">
                <button type="submit" name="hasBeenAccepted" value="true" class="btn btn-success btn-sm">Accept Advice</button>
            </form>

            <form action="/community-advice/control/{{ id }}" method="POST">
                <button type="submit" name="hasBeenRejected" value="true" class="btn btn-danger btn-sm">Reject Advice</button>
            </form>

            <a href="/community-advice/{{ id }}/edit" class="btn btn-primary btn-sm">Editar</a>

        </li>
    {{/each}}
</ul>