<h1>Edit advice</h1>

<form action="/community-advice/{{ id }}/edit" method="POST">

    <div class="form-group">
        <label for="advice"></label>
        <textarea name="phrase" class="form-control" id="advice" aria-label="With textarea">{{ phrase }}</textarea>
    </div>

    <button type="submit" class="btn btn-dark btn-block">Edit Advice</button>

</form>