
<div class="row justify-content-center">

        <div class="col-md-4">

            <h1>Create your favourite moments</h1>
            <br>
            <hr>
            <br>

            <form action="/moments/create" method="POST">

                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>

                <div class="form-group">
                    <label for="phrase">Moment</label>
                    <textarea name="phrase" class="form-control" id="phrase" aria-label="With textarea"></textarea>
                </div>

                 <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="lat">
                </div>

                 <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="lng">
                </div>

                <button type="submit" class="btn btn-dark btn-block">Create a moment</button>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}

            <hr>
           

        </div>
    </div>