
<div class="row justify-content-center">

    <div class="col-md-4">

        <h1>Create A Happy Moment</h1>
        <hr>
        <br>

        <form action="/moments/create" method="POST">

            {{> momentForm}}

            <button type="submit" class="btn btn-dark btn-block">Create Moment</button>

        </form>

        {{> ifErrorMessage }}

        <hr>
           
    </div>
</div>