<div class="row justify-content-center">

  <div class="col-md-4">

    <h1>Edit Moment</h1>

    <hr>
    <br>

    <form action="/moments/{{ moment.id }}/edit" method="POST">

      {{> momentForm}}

      <button type="submit" class="btn btn-dark btn-block">Edit Moment</button>

    </form>

    {{> ifErrorMessage }}

    <hr>

    <a href="/moments" class="btn btn-dark">Go back</a>

    <br>
    <br>

  </div>

</div>