<h1>This is Moments view</h1>

{{#each allMoments}}

{{date}}
{{phrase}}


{{/each}}

<div>
    
    <a class="btn btn-primary btn-lg btn-block" href="/moments/create" role="button">Create a moment</a>

</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/activity" role="button">edit a moment</a>

</div>

<br>
<br>

<div>

     <a class="btn btn-primary btn-lg btn-block" href="/daily-advice" role="button">Delete a moment</a>

</div>

<br>
<br>
