<h1>My Calendar</h1>

<br>

<form action="/calendar" method="POST">

    <input type="date" name="date">
    <input type="number" name="rating" min="1" max="5">
    <input type="submit">

</form>

<br>
<br>
<br>

<div id='calendar'></div>


<script src='/fullcalendar/main.js'></script>
<script src='/fullcalendar/calendar.js'></script>