<h1>My Calendar</h1>
<hr>

<div id='calendar'></div>

<br>
<br>

<a class="btn btn-dark btn-lg btn-block" href="/home" role="button">Add New Mood</a>

<script src='/fullcalendar/main.js'></script>
<script src='/fullcalendar/calendar.js'></script>