 <div class="row justify-content-center">

    <div class="col-md-4">

        <h1>Edit My Profile</h1>
        <hr>
        <br>

        <form action="/my-profile/edit" method="POST">

            {{> nameLastnameInputs }}

            {{> emailInput }}

            <button type="submit" class="btn btn-dark btn-block">Save Changes</button>

        </form>

        {{> ifErrorMessage }}

        <hr>
        <a href="/my-profile" class="btn btn-dark">Go back</a>
        <hr>
        
    </div>
</div>
