<h1>My Places</h1>

<hr>

<figure id="myMap"></figure>

<hr>
<a href="/home" class="btn btn-dark">Go back</a>
<br>
<br>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/places-maps-setup.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"></script>
