 <div class="row justify-content-center">

    <div class="col-md-4">

        <h1>Edit {{ name }} {{ lastname }}</h1>
        <hr>
        <br>

        <form action="/moderators/{{id}}/edit" method="POST">

            {{> nameLastnameInputs }}

            {{> emailInput }}

            <div class="form-group">
                <label for="role">Role</label>
                <select name="role" class="form-control" id="role">
                    <option value="MODERATOR" selected>Moderator</option>
                    <option value="USER">User</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </div>

            <button type="submit" class="btn btn-dark btn-block">Save changes</button>

        </form>

        {{> ifErrorMessage }}

        <hr>
        <a href="/moderators" class="btn btn-dark">Go back</a>
        <br>
        <br>
        
    </div>
</div>