<div>
    
    <a class="btn btn-primary btn-lg btn-block" href="/daily/phrase" role="button">Daily Phrase</a>

</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/daily/activity" role="button">Daily Activity</a>

</div>

<br>
<br>

<div>

     <a class="btn btn-primary btn-lg btn-block" href="/daily/advice" role="button">Daily Advice</a>

</div>

<br>
<br>

<div>
    
     <a class="btn btn-primary btn-lg btn-block" href="/moments" role="button">My Happy Momments</a>
    
</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/places" role="button">My places</a>

</div>

<br>
<br>

<div>

    <a class="btn btn-primary btn-lg btn-block" href="/calendar" role="button">My Calendar</a>

</div>