 <div class="row justify-content-center">

    <div class="col-md-4">

        <a class="btn btn-dark btn-lg btn-block" href="/daily/phrase" role="button">Daily Phrase</a>

        <br>
        <br>

        <a class="btn btn-dark btn-lg btn-block" href="/daily/activity" role="button">Daily Activity</a>

        <br>
        <br>

        <a class="btn btn-dark btn-lg btn-block" href="/daily/advice" role="button">Daily Advice</a>

        <br>
        <br>

        <a class="btn btn-dark btn-lg btn-block" href="/moments" role="button">My Happy Momments</a>

        <br>
        <br>

        <a class="btn btn-dark btn-lg btn-block" href="/places" role="button">My Places</a>

        <br>
        <br>

        <a class="btn btn-dark btn-lg btn-block" href="/calendar" role="button">My Calendar</a>

        <br>
        <br>

        <a class="btn btn-dark btn-lg btn-block" href="/community-advice" role="button">Community Advice</a>
    
        <br>
        <br>
        
    </div>

</div>