<div class="row justify-content-center">

  <div class="col-md-4 text-center">

    <h3>Hey {{ currentUserName }}, </h3>
    <h5>How do you feel today?</h5>
    <br>

    <form action="/calendar" method="POST" class="d-flex flex-column align-items-center" id="moodForm">

      <input type="date" name="date" value="{{today}}" class="form-control mb-2">

      <br>

      <div class="row justify-content-center">

        <label class="mood-label">
          <input type="radio" name="rating" value="1" class="mood"
            onclick="document.getElementById('moodForm').submit()">
          <img src="images/sad.png" class="mr-3">
        </label>

        <label class="mood-label">
          <input type="radio" name="rating" value="2" class="mood"
            onclick="document.getElementById('moodForm').submit()">
          <img src="images/halfsad.png" class="mr-3">
        </label>

        <label class="mood-label">
          <input type="radio" name="rating" value="3" class="mood"
            onclick="document.getElementById('moodForm').submit()">
          <img src="images/neutral.png" class="mr-3">
        </label>

        <label class="mood-label">
          <input type="radio" name="rating" value="4" class="mood"
            onclick="document.getElementById('moodForm').submit()">
          <img src="images/halfhappy.png" class="mr-3">
        </label>

        <label class="mood-label">
          <input type="radio" name="rating" value="5" class="mood"
            onclick="document.getElementById('moodForm').submit()">
          <img src="images/happy.png">
        </label>

      </div>

      <br>

      {{> ifErrorMessage }}
      {{> ifSuccessMessage }}

    </form>

    <br>

    <a class="btn btn-dark btn-lg btn-block" href="/calendar" role="button">My Calendar</a>

    <br>

    <a class="btn btn-dark btn-lg btn-block" href="/moments" role="button">My Happy Momments</a>

    <br>

    <a class="btn btn-dark btn-lg btn-block" href="/places" role="button">My Places</a>

    <br>

    <a class="btn btn-dark btn-lg btn-block" href="/community-advice" role="button">Community Advice</a>

    <br>

    <a class="btn btn-dark btn-lg btn-block" href="/daily/phrase" role="button">Daily Phrase</a>

    <br>

    <a class="btn btn-dark btn-lg btn-block" href="/daily/activity" role="button">Daily Activity</a>

    <br>

  </div>

</div>